<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button color="tertiary" text="" defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
    </ion-buttons>

    <ion-title> Nombre de la Lista </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>

    <ion-item>
      <ion-input label="Nuevo Item" labelPlacement="floating" placeholder="Ingresa un nuevo item"></ion-input>
    </ion-item>


  </ion-list>

  <ion-list>

    <ion-list-header>
      <ion-label > <small>Tareas por hacer</small></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-checkbox slot="start" color="tertiary" ></ion-checkbox>
      <ion-label>Item</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
